*
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body
{
    margin: 0;
    padding: 0;
    background: url(1234.jpg);
    background-size: cover;
    background-position: center;
    
}


.loginbox
{
    position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: rgba(238, 235, 235, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.avatar
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1
{
   
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 22px;
}

i
{
    position: relative;
    top: -48px;
    right: 20px;
    color: rgb(7, 7, 7);
}

.loginbox p 
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input
{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(22, 21, 21);
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: firebrick;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: black;
}

.loginbox a
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(15, 15, 15);
}

